* {
    font-family: Verdana, Arial, sans-serif;

  }

  body {
    background-image: url(back4.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat:no-repeat;
    height: 800px;
    margin:0px;
    padding: 0px;
   
  }

  a:link {
    color:#000;
    text-decoration: none;
  }
  a:visited {
    color:#000;
  }
  a:hover {
    color:#33F;
  }
  .button {
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
  }
  .center {
    padding: 10px;
    text-align: center;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  .interim {
    color: gray;
  }
  .info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
  }
  .right {
    float: right;
  }
  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #info{
    
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
  }
  .info_change{
    position: relative;
    visibility: hidden;
    text-align: center;
    font-size: 20px;
    top: 4%;
    color: #777;

  }
  #results {
    position: fixed;
    top : 15%;
    left: 15%;
    right: 15%;
    font-size: 14px;
    font-weight: bold;
    border: 5px solid #ddd;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    text-align: left;
    min-height: 500px;
    max-height: 500px;
    overflow: scroll;
    border-radius: 20px;
    
  }
  #email_button {
    position: fixed;
    left :76%;
    top : 8%;
  }
  #copy_button {
    position: fixed;
    left :71%;
    top : 8%;
  }
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }
  #showdate{
    position: fixed;
    font-size:20px;
    top:11%;
    left: 16%;
  }
  #start_img{
    width: 45px;
    height:45px;
    position: fixed;
    top:8%;
    left: 81%;
  }
  .div_language{
    visibility:hidden;
    position: fixed;
    top:85%;
    left:35%;
  }